/* ---------- MEDIA QUERY FOR LAPTOP AND SMALLER ---------- */
@media screen and (max-width: 2000px) {
    #applications {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* ---------- MEDIA QUERY FOR PROFILE PHOTO ---------- */
@media screen and (max-width: 1200px) {
    #profile-photo img {
        max-width: 30%;
        flex: 5 0 auto;
    }   
}

/* ---------- MEDIA QUERY FOR PROFILE PHOTO ---------- */
@media screen and (max-width: 830px) {

    #profile-photo img {
        flex: 3 0 auto;
        max-width: 50%;
    }   
    #profile-photo div {
        flex: 1 3 50%;
    }
}

/* ---------- MEDIA QUERY FOR TABLETS AND SMALLER ---------- */
@media screen and (max-width: 730px) {
    #applications {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    header h1, footer h2 {
        font-size: 30px;
    }

    header, #contact-me {
        display: flex;
        justify-content: center;
    }

    footer h2 {
        padding: 0 0 10px 0;
    }

    header nav ul li a, footer ul li a {
        font-size: 16px;
    }

    #profile-photo {
        flex-direction: column;
    }
}


/* ---------- MEDIA QUERY FOR MOBILE PHONES AND SMALLER ---------- */
@media screen and (max-width: 575px) {
    header h1, footer h2 {
        font-size: 30px;
    }

    footer ul {
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    header nav ul li a, footer ul li a {
        font-size: 16px;
    }

    #profile-photo {
        flex-direction: column;
    }


}