/* ---------- DEFINED VARIABLES ----------*/
:root {
    --primary-color: #024e76;
    --secondary-color: #D17277;
    --tertiary-color: #ffffff;
}

/* ---------- REMOVE BROSWER ENFORCED STYLES ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- GLOBAL STYLES ----------*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--secondary-color);
}

/* ---------- UTILITY STYLES ----------*/
.flex {
    display: flex;
    align-items: stretch;
    padding: 20px;
    margin: 10px;
    justify-content: flex-start;
    flex-direction: row;
}

.title {
    width: 15%;
    height: 300px;
    border-right: 2px solid var(--primary-color);

}

/* ---------- HEADER STYLES ----------*/
header {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    flex: 1 0 auto;
    top: 0;
    z-index: 9999;
}

header h1, footer h2 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
}

header a, footer a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    padding-top: 10px;
}

header nav ul, footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a, footer ul li a {
    padding: 1px 4px;
    margin: 10px 15px;
    border-bottom: 2px solid var(--tertiary-color);
    font-weight: lighter;
    font-size: 1.55vw;
}

/* ---------- HERO STYLES ----------*/
.hero img {
    position: relative;
    width: 100%;
    object-fit: scale-down;
}

/* ---------- ABOUT ME STYLES ----------*/

#profile-photo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
    margin: 15px;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}

#about-me img {
    border-radius: 50%;
    max-width: 15%;
    height: auto;
    object-fit: contain;
}

#about-me h3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#about-me h2, #work h2 {
    padding-right: 30px;
    margin-right: 20px;
    flex: 1 0 auto;
}

#about {
    padding-left: 20px;
    line-height: 1.3;
}


/* ---------- APPLICATION STYLES ----------*/

#applications {
    display: flex;
    padding-left: 80px;
    flex-direction: column;
    flex: 1 1 auto;
    width: 70%;
}

#applications h3 {
    position: relative;
    bottom: 55px;
    background-color: rgba(2, 78, 118, .75);
    padding: 15px;
    color: var(--tertiary-color);
    width: 100%;
    z-index: 9998;
}

.apps {
    transition: all .2s ease-in-out;
    padding: 0 40px 0 0;
}

.apps:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

#applications img {
    width: 100%;
    border: 4px solid var(--secondary-color);
}

.apps1 {
    min-height: 400px;
    flex-basis: 100%;
}

/* ---------- source for grow code: https://travis.media/how-to-make-an-item-grow-on-hover-with-css/ ---------- */
/* .grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}
 */

/* ---------- FOOTER STYLES ----------*/
#contact-me {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0;
}

