/* ---------- DEFINED VARIABLES ----------*/
:root {
    --primary-color: #024e76;
    --secondary-color: #D17277;
    --tertiary-color: #ffffff;
}

/* ---------- REMOVE BROSWER ENFORCED STYLES ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- GLOBAL STYLES ----------*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--secondary-color);
}

/* ---------- HEADER STYLES ----------*/
header {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    padding-top: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* header nav ul li {
    border-bottom: 2px solid var(--tertiary-color);
} */

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* ---------- HERO STYLES ----------*/
.hero {
    background-image: url("../images/website-banner.png");
    background-repeat: no-repeat;
    font-family: cursive;
    color: var(--tertiary-color);
}

#hero-hello {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(255, 233, 131, 1);
}

/* ---------- ABOUT ME STYLES ----------*/

#about-me img {
    border-radius: 50%;
    max-width: 15%;
    height: auto;
}

/* ---------- FOOTER STYLES ----------*/
